# Python cache
__pycache__/
*.pyc

# Django migrations 
tasks/migrations/
*/migrations/

# SQLite DB
db.sqlite3
*.sqlite3

# Build artifacts
*.zip

# Environment variables
.env

# IDE files
.vscode/
.idea/

# htmlcov coverage files ruff cache
htmlcov/
.ruff_cache/

# node modules
node_modules/

